* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: silver;
}

#header {
    background-color: #06c;
    padding: 50px;
    text-align: center;
}

.initial-letters {
    color: brown;
    font-size: 60px;
}
#header a:link, a:visited {
    color: whitesmoke;
    padding: 12px;
}

#header a:hover {
    color: #06c;
    background: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
}

#content-internal {
    text-align: center;
}

#content {
    background-color: silver;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-space-white {
    background-color: whitesmoke;
    width: 700px;
    height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

#footer {
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #06c;
    color: whitesmoke;
}